@font-face {
    font-family: 'Maraphont'; /*a name to be used later*/
    src: url('/Maraphont.ttf'); /*URL to font*/
}
body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
.marathon{font-family: 'Maraphont'; }
p {color: black; font-size: 160%;
}
